{% extends "base.html" %}
{% load static %}
{% block title %}
  장바구니 디테일
{% endblock %}

{% block content %}
<div class="cart_box">
  {% if cart|length <= 0 %}
    <div class="empty">
      <img src="{% static 'img/emptycart.png' %}" alt=""> <!--가운데 정렬하기-->
      <p><a href="\">쇼핑하러 가기</a></p>
    </div>
  {% else %}
    <h3>장바구니</h3>
    <hr>
    <table class="cart">
      <thead>
        <tr>
          <th>사진</th>
          <th>제품</th>
          <th>수량</th>
          <th></th>
          <th>가격</th>
          <th>합계</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart %}
          {% with product=item.product %}
            <tr>
              <td>
                <a href="{{ product.get_absolute_url }}">
                  <img src="{% if product.image %}{{ product.image.url }}{% else %} {{ product.name }} {% endif %}" width=50>
                </a>
              </td>
              <td>{{ product.name }}</td>
              <td>
                <form action="{% url 'cart:product_add' product.id %}" method="post">
                  {{ item.quantity_form.quantity }}
                  {{ item.quantity_form.update }}
                  <input type="submit" value="변경" class="update_btn">
                  {% csrf_token %}
                </form>
              </td>
              <td><a href="{% url 'cart:product_remove' product.id %}">삭제하기</a></td>
              <td class="num">\{{ item.price }}</td>
              {% load humanize %}
              <td class="num">\{{ item.total_price|floatformat|intcomma }}</td>
            </tr>
          {% endwith %}
        {% endfor %}
        <tr class="total">
          <td>총계</td>
          <td colspan="4"></td>
          {% load humanize %}
          <td class="num">\{{ cart.get_total_price|floatformat|intcomma }}</td>
        </tr>
      </tbody>
    </table>
    <p class="text-right">
      <a href="{% url 'shop:product_all' %}" class="btn btn-outline-secondary">계속해서 쇼핑하기</a>
      <!-- 결제페이지로 이동 -->
      <a href="{% url 'orders:order_create' %}" class="btn btn-outline-primary">주문하기</a>
    </p>
{% endif %}
</div>
<br><br><br><br>
<!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>Copyright &copy; 2020 Likelion Hackathon</p>
                </div>
                <div class="col-md-4">
                    <ul class="social-icons">
                        <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p>Team name: I, DDingDong</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}