.cart_box{
    margin-top: 15px;
    width: 100%;
}
.empty b h1{
    margin-top: 150px;
    text-align: center;
    font-size:20;
    color:#D90B1C;
}
.empty p{
    margin-top: 40px;;
    text-align: center;
}
.empty a{
    color: #f27f3d !important;
    border: solid  #f27f3d;
    border-radius: 5px;
    padding: 10px;
}
.empty a:hover{
    color: white !important;
    background-color: #f27f3d;
}
.cart thead tr th{
    line-height: 40px;
    border-bottom: 3px solid #ffc002;
    text-align: center;
}
.cart tbody tr td{
    line-height: 50px;
    text-align: center;
    border-top: solid 1px #ffc002;
}
.cart tbody .total td{
    padding: 10px 1px;
}

#id_quantity{
   width: 50px;
   height: 30px; 
}
.update_btn{
    background: transparent;
    border: none;
    outline: none;
}
.btn-outline-primary{
    color: #007bff !important;
    margin-right: 20px;
}
.btn-outline-primary:hover{
    color: white !important;
}