{% extends 'base.html' %}
{% load static %}
{% block title %}
Thank you
{% endblock %}

{% block content %}
<img src="{% static 'img/ordercomplete.png' %}" alt="">  <!--가운데정렬하기-->
<div class = createblock>
<p> 당신의 주문번호는
    <strong>{{ order.id }}</strong>번 입니다.
</p>

</div>
                    <div class="primary-button">
                        <a href="#" class="scroll-link" data-id="book-table">쇼핑 계속하기</a>
                    </div>
<br><br>

<!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                    <p>Copyright &copy; 2020 LikeLion Hackathon</p>

                </div>
                <div class="col-md-4">
                    <ul class="social-icons">
                        <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p>Team name: I, DDingDong</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}