{% extends 'base.html' %}
{% load static %}
{% block title %}
Thank you
{% endblock %}
{% block style %}
<style>
  img {
    display: block;
    margin: 0px auto;
  }

  p {
    text-align: center;
  }

  .primary-button {
    text-align: center;
  }

  .btncontinue{
    		border-radius: 4px;
		background: #212529;
		color: #fff;
		padding: 7px 45px;
		display: inline-block;
		margin-top: 20px;
		border: solid 2px #212529;
		transition: all 0.5s ease-in-out 0s;
  }
  	.btncontinue:hover,
	.btncontinue:focus {
		background: transparent;
		color: #212529;
		text-decoration: none;
	}
</style>

{% endblock %}

{% block content %}
<br>
<img src="{% static 'img/ordercomplete.png' %}" alt="">
<div class=createblock>
  <p> 당신의 주문번호는
    <strong>{{ order.id }}</strong>번 입니다.
  </p>

</div>
<div class="primary-button">
  <a href="{% url 'shop:product_all' %}" class="btncontinue" data-id="book-table">쇼핑 계속하기</a>
</div>
<br><br>
{% endblock %}