{% extends 'base.html' %}
{% load static %}
{% block title %}
Thank you
{% endblock %}
{% block style %}
<style>
  img {
    display: block;
    margin: 0px auto;
  }

  p {
    text-align: center;
  }

  .primary-button {
    text-align: center;
  }
</style>

{% endblock %}

{% block content %}
<br>
<img src="{% static 'img/ordercomplete.png' %}" alt="">
<div class=createblock>
  <p> 당신의 주문번호는
    <strong>{{ order.id }}</strong>번 입니다.
  </p>

</div>
<div class="primary-button">
  <a href="{% url 'shop:product_all' %}" class="scroll-link" data-id="book-table">쇼핑 계속하기</a>
</div>
<br><br>
{% endblock %}