{% extends 'base.html' %}
{% load static %}




{% block content %}


<script type="text/javascript">
csrf_token = '{{csrf_token}}';
order_create_url = '{% url "orders:order_create_ajax" %}';
order_checkout_url = '{% url "orders:order_checkout" %}';
order_validation_url = '{% url "orders:order_validation" %}';
order_complete_url = '{% url "orders:order_complete" %}';
</script>
<script src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js" type="text/javascript"></script>

{% load static %}
<script src="{% static '/js/checkout.js' %}" type="text/javascript"></script>


        <div class="alert alert-info" role="alert">Your order </div>
        <ul class="list-group">
            {% for item in cart %}
            <li class="list-group-item">
                수량:{{item.quantity}} 
                <br>제품명:{{item.product.name}}<br>
                <span>총:{{item.total_price}}</span>
            </li>
            {% endfor %}
    
 <div class="alert alert-success" role="alert">Total: {{cart.get_total_price|floatformat:"2"}}</div>
<form action="" method="post" class="order-form">
    {% csrf_token %}
    {{form.as_p}}
    <input type="hidden" name="pre_order_id" value="0">
    <input type="hidden" name="amount" value="{{cart.get_total_price}}">
    <input type="submit" value="주문하기" class="btn btn-lg btn-success">
</form>

{% endblock %}

{% block extra_script %}


{% endblock %} 