{% extends 'base.html' %}
{% load static %}

{% block title %}
Main Page
{% endblock %}

{% block style %}
<style>
    .navbar-menu.navbar-item {
        background-color: red;
        text-decoration: none;
    }

    .a {
        padding: 100px 0px;
    }

    a.text-button {
        text-align: center;
        border-radius: 4px;
        background: #212529;
        color: #fff;
        padding: 7px 45px;
        display: inline-block;
        margin-top: 20px;
        border: solid 2px #212529;
        transition: all 0.5s ease-in-out 0s;
        text-decoration:none;
    }

    .round-black-btn:hover,
    .round-black-btn:focus {
        background: transparent;
        color: #212529;
        text-decoration: none;
    }

    navbar-item {
        text-decoration: none;
    }
</style>
{% endblock %}

{% block content %}
<br>
<h3 class="display-5 mb-2 text-center"><i class="fas fa-store-alt"></i> 띵동샵</h3>
<!--category -->
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/"></a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
            <a class="navbar-item" {% if not current_category %}active{% endif %}>All</a>
            {% for c in categories %}
            <a class="navbar-item" href="{{c.get_absolute_url}}"
                {% if current_category.slug == c.slug %}active{% endif %}>{{c.name}}</a>{% endfor %}
        </div>

        <div class="navbar-end">
            <a class="navbar-item">
                <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="post">
                    {% csrf_token %}
                    <div class="control is-expanded">
                    <input class="input is-normal" type="search" placeholder="검색어를 입력해주세요!" aria-label="Search" name="q"
                        value="{{q}}"></div>
                    <div class ="control">
                    <button class="button is-link is-normal" type="submit">검색</button></div>
                </form>
            </a>
        </div>
    </div>
</nav>


<!--product list -->

<section class="featured-food" a name="ping"></a>
    <div class="container">
        <div class="row">
            <div class="heading">
                <h6>{% if current_category %}{{current_category.name}}{% else %} <i class="fas fa-home"></i> {% endif %}
                    > 상품 목록</h6>
            </div>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                <div class="food-item">
                    <h2>{{product.name}}</h2>
                    <img src="{{product.image.url}}" alt="Product Image"><br>
                    <div class="text-content">
                        <h4>띵동<i class="fas fa-bell"></i> 주문하세요! </h4>
                        {% load humanize %}
                        <div class="price"><i class="fas fa-tag"></i> {{product.price|floatformat|intcomma}}원</div>
                        <p>{{product.description}}</p>
                        <a href="{{product.get_absolute_url}}" class="text-button" alt="{{product.name}}"> 상세보기 </a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}