{% extends 'base.html' %}
{% load static %}
{% block title %} Main Page
{% endblock %}

{% block content %}

<!--banner -->
<br>
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h4>띵동, 배달왔습니다 </h4>
                    <h2>아이 띵동</h2>
                    <p>많이 사면 상하고, 적게 사면 비싸 눈물을 머금으며 결국에는 배달만 시켜먹게 되는 자취생들을 위한 대용량 식품 소분 배달 서비스!</p>
                    <div class="primary-button">
                        <a href="#" class="scroll-link" data-id="book-table">쇼핑하러가기</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--about -->
    <section class="cook-delecious">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <div class="first-image">
                        <img src="{% static 'img/cook_02.png' %}" alt="" width="370px" height="278px">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cook-content">
                        <h4>띵동을 원하신다면?</h4>
                        <div class="contact-content">
                            <span>전화번호:</span>
                            <h6>+ 1234 567 8910</h6>
                        </div>
                        <span>혹은</span>
                        <div class="primary-white-button">
                            <a href="{% url 'orders:order_create' %}" class="scroll-link" data-id="book-table">지금 주문하기</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="second-image">
                        <img src="{% static 'img/cook_02.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section> 

<!--category -->

   {% comment %} <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <h4><a href="/" class="service-group-item {% if not current_category %}active{% endif %}"> All </a></h4>
                        {% for c in categories %}
                        <img src="{% static 'img/cook_lunch.png' %}" alt="Food">
                        <h4><a href="{{c.get_absolute_url}}" class="service-group-item {% if current_category.slug == c.slug %}active{% endif %}">{{c.name}}</a></h4>
            {% endfor %}
                        </a>
                    </div>
                </div>
                        <h2>{% if current_category %}{{current_category.name}}{% else %} All Products {% endif %}</h2>

            </div>
        </div>
    </section> {% endcomment %}


<!--group purchase -->
    {% comment %} <section class="get-app">
        <div class="container">
            <div class="row">
                <div class="heading">
                    <h2>다른 사람들과 함께 구매해보세요!</h2>
                </div>
                <div class="primary-white-button">
                    <a href="{% url 'group_purchase' %}">공구게시판 가기</a>
                </div>
            </div>
        </div>
    </section> {% endcomment %}


<!--product list -->

    <section class="featured-food" a name="ping"></a>
        <div class="container">
            <div class="row">
                <div class="heading">
                    <h2>Product List</h2>
                </div>
            </div>
            <div class="row">
            {% for product in products %}
                <div class="col-md-4">
                    <div class="food-item">
                        <h2>{{product.name}}</h2>
                        <img src="{{product.image.url}}" alt="Product Image">
                        <div class="price">{{product.price}}</div>
                        <div class="text-content">
                            <h4>띵동<i class="fa fa-bell-o"></i> 주문하세요! </h4>
                            <p>{{product.description}}</p>
                            <a href="{{product.get_absolute_url}}" class="text-button" alt="{{product.name}}"> 상세보기 </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            </div>
        </div>
    </section>

<!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>Copyright &copy; 2020 Likelion Hackathon</p>
                </div>
                <div class="col-md-4">
                    <ul class="social-icons">
                        <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p>Team name: I, DDingDong</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}