{% extends 'base.html' %}

{% block script %}
    <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent"); // 컨텐츠 불러오기
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none"; // 컨텐츠 모두 숨기기
            }
            tablinks = document.getElementsByClassName("tablinks"); // 탭 불러오기
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", ""); // 탭 초기화
            }
            document.getElementById(tabName).style.display = "block"; // 해당되는 컨텐츠만 보여주기
            evt.currentTarget.className += " active"; // 클릭한 탭 활성화
        }
    </script>
{% endblock %}

{% block style %}
    <style>
        html, body{
            height:100%;
            width:100%;
            margin:0;
            padding:0;
            overflow: hidden;
            font-family: 'CookieRun-Regular';
        }
        .box{
            margin-top:15px;
            height:80%;
            display: flex;
        }
        .content{
            background-color:#fef0ff;
            height: 80%;
            width: 100%;
        }

        /*tab menu*/
        .menu {
            height: 100px;
            width: 100px;
            display: flex;
            flex-direction: column;
        }

        .tablinks {
            float: left;
            width: 100%;
            height: 100%;
            padding: 0;
            border: none;
            outline: none;
            font-size: 16px;
            color: #fef0ff;
            background-color: #c3bef0;
            font-family: 'CookieRun-Regular';
        }

        .tablinks.active {
            color: #000;
            background-color:#fef0ff;
        }
        .note_link{
            color: black;
            text-decoration: none;
        }
        .note_link:hover{
            color: black;
            text-decoration: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="box">
        <div class="menu">
            <button class="tablinks active" onclick="openTab(event, 'tab1')">받은 쪽지</button>
            <button class="tablinks" onclick="openTab(event, 'tab2')">보낸 쪽지</button>
        </div>

        <div class="content">
            <div id="tab1" class="tabcontent" style="display: block;">
                {% for note in receive_notes %}
                <!--받은 쪽지-->
                    <a href="{% url 'note_detail' note.id %}" class="note_link">
                        <p>
                            {{note.is_read}} <strong>From.{{note.sender}}</strong>{{note.title}}...{{note.date|date:"Y-m-d"}}
                        </p>
                    </a>
                {% endfor %}
            </div>

            <div id="tab2" class="tabcontent" style="display: none;">
                {% for note in send_notes %}
                <!--보낸 쪽지-->
                    <a href="{% url 'note_detail' note.id %}" class="note_link">
                        <p>
                            {{note.is_read}} <strong>To.{{note.receiver}}</strong>{{note.title}}...{{note.date|date:"Y-m-d"}}
                        </p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}