{% extends 'base.html' %}

{% block script %}
    <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent"); // 컨텐츠 불러오기
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none"; // 컨텐츠 모두 숨기기
            }
            tablinks = document.getElementsByClassName("tablinks"); // 탭 불러오기
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", ""); // 탭 초기화
            }
            document.getElementById(tabName).style.display = "block"; // 해당되는 컨텐츠만 보여주기
            evt.currentTarget.className += " active"; // 클릭한 탭 활성화
        }
    </script>
{% endblock %}

{% block content %}
    <div class="notebox">
        <div class="box_menu">
            <!--버튼과 배경-->
            <div class="button_background_1"></div>
            <button class="tablinks active" onclick="openTab(event, 'tab1')">받은 쪽지</button>
            <div class="button_background_2"></div>
            <button class="tablinks" onclick="openTab(event, 'tab2')">보낸 쪽지</button>
        </div>
        
        <div class="notes_content col-10">
            <!--쪽지 배경-->
            <div class="notebox_back1"></div>
            <div class="notebox_back2"></div>

            <div id="tab1" class="tabcontent" style="display: block;">
                {% for receive in receive_list %}
                    <p><strong>보낸 사람. &#32; {{receive}}</strong></p>
                    {% for note in receive_notes %}
                        <!--받은 쪽지-->
                        {%if note.sender == receive %}
                        <div class="row">
                            {% if note.is_read == "읽지 않음" %}
                                <div class="col-1">
                                    <div class="not_read_note"></div>
                                </div>
                            {% else %}
                                <div class="col-1">
                                    <div class="read_note"></div>
                                </div>
                            {% endif %}
                            
                            <div class="col-8">
                                <a href="{% url 'note_detail' note.id %}" class="note_link">{{note.summary}}...</a>
                            </div>
                            <div class="col-1">
                                {% if note.renotes_r != 0 %}
                                +{{note.renotes_r}}
                                {% endif %}
                            </div>
                            <div class="col-2">{{note.date|date:"Y.m.d"}}</div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                <div class="page_num">
                    {% if receive_notes.has_previous %}
                        <a href="?page=1">First</a>
                        <a href="?page={{receive_notes.previous_page_number}}">Previous</a>
                    {% endif %}
                    
                    {% if receive_notes %}
                        <span>{{receive_notes.number}}</span>
                        <span>/</span>
                        <span>{{receive_notes.paginator.num_pages}}</span>
                    {% endif %}
            
                    {% if receive_notes.has_next %}
                        <a href="?page={{receive_notes.next_page_number}}">Next</a>
                        <a href="?page={{receive_notes.paginator.num_pages}}">Last</a>
                    {% endif %}
                </div>
            </div>

            <div id="tab2" class="tabcontent" style="display: none;">
                {% for send in send_list %}
                    <p><strong>받는 사람. 	&#32; {{send}}</strong></p>
                    {% for note in send_notes %}
                        <!--보낸 쪽지-->
                        {% if note.receiver == send %}
                            <div class="row">
                                {% if note.is_read == "읽지 않음" %}
                                    <div class="col-1">
                                        <div class="not_read_note"></div>
                                    </div>
                                {% else %}
                                    <div class="col-1">
                                        <div class="read_note"></div>
                                    </div>
                                {% endif %}

                                <div class="col-8">
                                    <a href="{% url 'note_detail' note.id %}" class="note_link">{{note.summary}}...</a>
                                </div>
                                <div class="col-1">
                                    {% if note.renotes_s != 0 %}
                                        +{{note.renotes_s}}
                                    {% endif %}
                                    </div>
                                <div class="col-2">{{note.date|date:"Y.m.d"}}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                <div class="page_num">
                    {% if send_notes.has_previous %}
                        <a href="?page=1">First</a>
                        <a href="?page={{send_notes.previous_page_number}}">Previous</a>
                    {% endif %}
                    
                    {% if send_notes %}
                        <span>{{send_notes.number}}</span>
                        <span>/</span>
                        <span>{{send_notes.paginator.num_pages}}</span>
                    {% endif %}
            
                    {% if send_notes.has_next %}
                        <a href="?page={{send_notes.next_page_number}}">Next</a>
                        <a href="?page={{send_notes.paginator.num_pages}}">Last</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %} 