{% extends 'base.html' %}

{% block style %}
<style>
    hr{
        border-color: #16c7ff;
    }

    /*<div>로 한 쪽 끝이 접힌 종이 모양 만들기*/
    .note_detail{
        width: 80%;
        height: 700px;
        margin-top: 30px;
        padding: 60px 30px 0px 30px;
        background: #f2fcff;
        position: relative;
        overflow: auto;
        margin: 30px auto;
    }
    .note_detail::before{
        content: "";
        left: 0;
        top: 0;
        border-top: 50px solid #fff;
        border-right: 50px solid transparent;
        position: absolute;
    }
    .note_detail::after{
        content: "";
        left: 0;
        top: 0;
        border-bottom: 49px solid #78deff;
        border-left: 49px solid transparent;
        position: absolute;
    }

    /*스크롤이 되지만 스크롤 바가 보이지 않음*/
    .note_detail::-webkit-scrollbar { width: 0 !important }

    /*삭제 및 쪽지함 버튼 꾸미기*/
    .btn{
        float: right;
    }
    .notebox{
        color: #4180CB;
    }
    .notebox:hover{
        color: #003e51;
    }
    .d{
        color: #f40000;
    }
    .d:hover{
        color: #920000;
    }
    a:hover{
        text-decoration: none;
    }

    /*답장 작성 폼 스타일*/
    .re_note_form{
        width: 90%;
        border: solid #16c7ff;
        outline: none;
    }
    .renote_btn{
        background: transparent;
        border: none;
        outline: none;
        margin-left: 5px;
        color: #4180CB;
    }
    .renote_btn:hover{
        color:  #003e51; 
    }
</style>

{% endblock %}

{% block content %}
<div class="note_detail">
    <div>
        <button class="btn"><a href="{% url 'note_delete' note_detail.id %}" class="d">삭제</a></button>
        <button class="btn"><a href="{% url 'box' %}" class="notebox">쪽지함</a></button>
        
        {% if note_detail.sender == request.user %}
            <p><strong>받는 사람: {{note_detail.receiver}}</strong></p>
        {% else %}
            <p><strong>보낸 사람: {{note_detail.sender}}</strong></p>
        {% endif %}

        <p>{{note_detail.date|date:"Y.m.d H:i"}}</p>
        <p>{{note_detail.content}}</p>
    </div>
    <hr>

     <!--해당 쪽지에 대한 답장 목록
        ReNote가 Note를 외래키로 참조하기 때문에 아래와 같이 작성이 가능-->
    {% for renote in note_detail.renote_set.all %}
        <p><strong>{{renote.author}}</strong>_{{renote.time|date:"Y.m.d H:i"}}</p>
        <p>{{renote.content}} </p>
        <hr>
    {% endfor %}

    <!--답장 작성하는 폼-->
    <form method="POST" action="{% url 'renote' note_detail.id %}">
        {% csrf_token %}
        {{renote_form}}
        <input type="submit" value="보내기" class="renote_btn">
    </form>
</div>

{% endblock %} 