{% extends 'base.html' %}

{% block content %}
<div class="note_form_style">
    <div class="side_menu">
        <p><span class="highlight">Menu</span></p>
        <p><a href="javascript:history.back();" class="note_link">쪽지 작성 취소</a></p> <!--바로 전에 보고 있던 글로 이동-->
        <p><a href="{% url 'group_purchase'%}">글 목록</a></p>
    </div>

    <div class="form">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="page">
                {{note_form}}
            </div>

            <div class="btn">
                <div class="btn_background"></div>
                <input type="submit" value="Send" class="send_btn">
            </div>
        </form>
    </div>
</div>

<!-- footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>Copyright &copy; 2020 LikeLion Hackathon</p>
                </div>
                <div class="col-md-4">
                    <ul class="social-icons">
                        <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p>Team name: I, DDingDong</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %} 