{% load static %}

{% block style %}
<style>
    .footer {
        background: #343a40;
        color: white;
        text-align: center;
        overflow: hidden;

        margin-top: 2rem;
    }

    .links ul {
        list-style-type: none;
    }

    .links li a {
        color: white;
        transition: color .2s;
    }

    .links li a:hover {
        text-decoration: none;
        color: #4180CB;
    }

    .links .about-us i {
        font-size: 12px;
    }

    .links .about-us a {
        color: white;
        transition: color .2s;
    }

    .links .about-us a:hover {
        color: #4180CB
    }

    .links .location i {
        font-size: 18px;
    }

    .links .copyright p {
        border-top: 1px solid rgba(255, 255, 255, .1);
    }
</style>
{% endblock %}

<!--footer -->
<div class="footer is-small">
    <div class="container">
        <div class="columns has-text-centered">
            <div class="column is-one-third is-12-mobile about-us">
                <h4>About Us</h4>
                <p class="text-white-50">이제는 내가 먼저! 나눌수록 배가 되는 띵동하자! </p>
                <p class="mb-0">팀원들: 허태정, 이혜린, 김영은</p>
            </div>
            <div class="column is-one-third is-12-mobile links">
                <h4>링크</h4>
                <ul class="m-0 p-0">
                    <li> <a href="{% url 'introduce' %}">소개글</a></li>
                    <li><a href="{% url 'shop:product_all' %}">상품 보러가기</a></li>
                </ul>
            </div>
            <div class="column is-one-third is-12-mobile location">
                <h4>Contact Us</h4>
                <p></p>
                <p class="mb-0">
                    <i class="fa fa-phone mr-3"></i>010 1234 5678
                </p>
                <p class="mb-0">
                    <i class="fa fa-envelope-o mr-3"></i>info@iddingong.com
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col copyright">
                <p class=""><small class="text-white-50">© 2020 Likelion Hackathon</small></p>
            </div>
        </div>
    </div>
</div>

<!--banner -->
{% comment %}
<!-- <br>
<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h4>띵동, 배달왔습니다 </h4>
                <h2>아이 띵동</h2>
                <p>많이 사면 상하고, 적게 사면 비싸 눈물을 머금으며 결국에는 배달만 시켜먹게 되는 자취생들을 위한 대용량 식품 소분 배달 서비스!</p>
                <div class="primary-button">
                    <a href="#" class="scroll-link" data-id="book-table">쇼핑하러가기</a>
                </div>
            </div>
        </div>
    </div> -->
</section>
{% endcomment %}


<!--about -->
{% comment %}
<!-- <section class="cook-delecious">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <div class="first-image">
                    <img src="{% static 'img/cook_02.png' %}" alt="" width="370px" height="278px">
                </div>
            </div>
            <div class="col-md-4">
                <div class="cook-content">
                    <h4>띵동을 원하신다면?</h4>
                    <div class="contact-content">
                        <span>전화번호:</span>
                        <h6>+ 1234 567 8910</h6>
                    </div>
                    <span>혹은</span>
                    <div class="primary-white-button">
                        <a href="{% url 'orders:order_create' %}" class="scroll-link" data-id="book-table">지금 주문하기</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="second-image">
                    <img src="{% static 'img/cook_02.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>  -->
{% endcomment %}
{% comment %}
<!-- <section class="get-app">
    <div class="container">
        <div class="row">
            <div class="heading">
                <h2>다른 사람들과 함께 구매해보세요!</h2>
            </div>
            <div class="primary-white-button">
                <a href="{% url 'group_purchase' %}">공구게시판 가기</a>
            </div>
        </div>
    </div>
</section>  -->
{% endcomment %}