<ul>
    <li>
        <a href="{% url 'introduce' %}">소개</a>
    </li>
    <li>
        <a href="{% url 'shop:product_all' %}"> 쇼핑하기 </a>
    </li>
    <li>
        <a href="{% url 'group_purchase' %}">공구 게시판</a>
    </li>

    {% load humanize %}
    <li>
        <a href="{% url 'cart:detail' %}"><i class="fa fa-shopping-cart"></i>
            {% if cart|length > 0 %}
            \{{cart.get_total_price|floatformat|intcomma}} | {{cart|length}} 개

            {% else %}
            | 0
            {% endif %}
        </a>
    </li>


    {% if user.is_authenticated %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            안녕하세요. {{ user.username}}님!
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'account_logout' %}">로그아웃</a>
            <a class="dropdown-item" href="{% url 'mypage' %}">마이페이지</a>
            <a class="dropdown-item" href="{% url 'box' %}">쪽지함</a>
            {%else%}
    <li>
        <a class="dropdown-item" href="{% url 'account_login' %}">로그인</a>
    </li>
    <li>
        <a class="dropdown-item" href="{% provider_login_url 'naver' %}"> 네이버 로그인</a>
    </li>
    {% endif %}
</ul>