{% extends 'base.html' %}

{% block title%}
Create Post
{% endblock %}

{% block style %}
<style>
/*게시글 작성폼을 감싸는 <div>*/
.post_form{
    margin-top: 30px;
    width: 670px;
    height: 100%;
    padding: 30px 30px 30px 30px;
    margin-left: auto;
    margin-right: auto;
    
}
/*게시글 작성폼 관련 스타일*/
input[class^="post"]{ /*class 이름이 post로 시작하는 <input>에만 해당 스타일 적용*/
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px;
}

.post_title{
    width: 80%; /*크기 조절을 통해 input 위치 조정*/
}
.post_name{
    width: 60%;
}
.post_category{
    width: 37%;
    padding: 5px;
}
.post_content{
    resize: none; /*textarea 크기를 css를 이용해 조절하기 위해 추가*/
    width: 100% !important;
    height: 80% !important;
    padding: 5px;
}
.post_image{
    width: 40%;
}
.post_url{
    width: 50%;
}
.btn_div{
    height: 20px;
    position: relative;
}
.save_btn{
		background: #212529;
		color: #fff;
		padding: 7px 45px;
		display: inline-block;
		margin-top: 20px;
		border: solid 2px #212529;
		transition: all 0.5s ease-in-out 0s;
        float:left;
}
h3.display-5.mb-2.text-center{
    font-family: "yg-jalnan";
}
</style>
{% endblock %}
{% block content %}
<br>
<h3 class="display-5 mb-2 text-center"><i class="fas fa-user-edit"></i>글쓰기</h3>
<div class="post_form">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <br>
        <div class="btn_div">
            
            <input type="submit" value="저장 !" class="save_btn">
        </div>
    </form>
</div>
<br>

{% endblock %}