{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
  .btnbtn {
    border-radius: 4px;
    background: #212529;
    color: #fff;
    display: inline-block;
    border: solid 2px #212529;
    transition: all 0.5s ease-in-out 0s;
    text-decoration: none;
  }

  a:link {
    text-decoration: none
  }
</style>
{% endblock %}

{% block content %}
<br>
<div class="grouppurchase">
  <section class="hero">
    <div class="hero-head">
      <div class="container has-text-centered is-centered">
        <div class="columns is-multiline is-centered">
          <div class="column is-10">
            <h3 class="display-5 mb-2 text-center"><i class="fas fa-clipboard-list"></i> 공구게시판</h3>
          </div>
          <div class="column is-10">
            <div class="columns is-multiline is-justify-content-space-between">
              <div class="column is-6-desktop is-12-tablet has-text-left-desktop">
                <a class="btnbtn button" href="{% url 'group_purchase' %}">전체글보기</a>
                {% if user.is_authenticated %}
                <a class="btnbtn button" href="{% url 'create' %}">직접 구해보자!</a>
                {% endif %}
              </div>
              <div class="column is-6-desktop is-12-tablet">
                {% include "partial/group_purchase_searchbar.html" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered is-centered">
        <div class="columns is-multiline is-centered">

          <div class="column is-10">
            {% if posts %}
            <div class="columns is-multiline">
              {% for post in posts %}
              {% include "partial/group_purchase_card.html" with post=post only %}
              {% endfor %}
            </div>
            {% else %}
            <p class="subtitle">게시글이 없습니다.</p>
            {% endif %}
          </div>
          <div class="column is-10">
              {% include "partial/paginator.html" with paginator=posts%}
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}