{% extends 'base.html' %}
{% load static %}

{% block script %}
{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-head is-centered has-text-centered">
        <div class="container">
            <div class="columns is-centered is-vcentered">


            </div>
        </div>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered is-centered">
            <div class="columns is-multiline is-centered">
                <div class="column is-6">
                    {% include "partial/group_purchase_searchbar.html" %}
                </div>
                <div class="column is-10">
                    {% if posts %}
                    <div class="columns is-multiline">
                        {% for post in posts %}
                        {% include "partial/group_purchase_card.html" with post=post only %}
                        {% endfor %}
                    </div>
                    {% else %}
                    <p class="subtitle">게시글이 없습니다.</p>
                    {% endif %}
                    {% include "partial/paginator.html" with paginator=posts%}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}