{% extends 'base.html' %}
{% load static %}

{% block title%}
Introduce
{% endblock %}

{% block style %}
<style>
  .ol-centered {
    text-align: center;
    display: inline-block;
  }

  .ol-centered li {
    padding: 0 1.5rem;
  }

  img {
    display: block;
    margin: 0px auto;
  }
</style>
{% endblock %}

{% block content %}
<br>
<h3 class="display-5 mb-2 text-center"><i class="fas fa-parachute-box"></i> 아이띵동이란?</h3>
<img src="{% static 'img/introduce.png' %}" alt="" width="600px">
{% endblock %}