{% extends 'base.html' %}
{% load static %}

{% block script %}
<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent"); // 컨텐츠 불러오기
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none"; // 컨텐츠 모두 숨기기
        }
        tablinks = document.getElementsByClassName("tablinks"); // 탭 불러오기
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", ""); // 탭 초기화
        }
        document.getElementById(tabName).style.display = "block"; // 해당되는 컨텐츠만 보여주기
        evt.currentTarget.className += " active"; // 클릭한 탭 활성화
    }
</script>
{% endblock %}

{% block content %}
<div class="mypage_box">
    <div class="menu">
        <div class="btn_back1"></div>
        <div class="btn_back2"></div>
        <div class="btn_back3"></div>

        <button class="mypage_tablinks active" onclick="openTab(event, 'tab1')">내가 쓴 글</button>
        <button class="mypage_tablinks" onclick="openTab(event, 'tab2')">댓글 작성한 글</button>
        <button class="mypage_tablinks" onclick="openTab(event, 'tab3')">구매 내역</button>
    </div>
    <hr>

    <div class="mypage_content">
        <div class="back_1"></div>
        <div class="back_2"></div>
        <div class="back_3"></div>

        <div id="tab1" class="tabcontent" style="display: block;">
            <div class="row mypage_row">
                {% for mypost in myposts %}
                <div class="col-sm-6" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            {% if mypost.image %}
                            <img src="{{mypost.image.url}}" class="card-img" alt="사진">
                            {% else %}
                            <img src="{% static 'img/ddingdongalarm.png' %}" class="card-img" alt="">

                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                {% if mypost.success %}
                                <p class="card-text word_c">공구 종료</p>
                                {% else %}
                                <p class="card-text word_o">공구 진행 중</p>
                                {% endif %}
                                <a href="{% url 'post_detail' mypost.id %}" class="post_link">
                                    <h5 class="card-title">{{mypost.name}} &#60;{{mypost.category}}&#62;</h5>
                                    <p class="card-text">
                                        {{mypost.title}}<br>
                                        {{mypost.summary}}...
                                    </p>
                                </a>
                                <p class="card-text"><small class="text-muted">{{mypost.date}}</small></p>
                                <a href="{% url 'edit' mypost.id %}" class="btn-revise">수정</a>
                                <a href="{% url 'delete' mypost.id %}" class="btn-delete">삭제</a>
                                {% if mypost.success == False %}
                                <a href="{% url 'closed' mypost.id %}" class="btn-finish">공구종료</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor%}
            </div>

            <div class="page_num">
                {% if myposts.has_previous %}
                <a href="?page=1">First</a>
                <a href="?page={{myposts.previous_page_number}}">Previous</a>
                {% endif %}

                {% if myposts %}
                <span>{{myposts.number}}</span>
                <span>/</span>
                <span>{{myposts.paginator.num_pages}}</span>
                {% endif %}

                {% if myposts.has_next %}
                <a href="?page={{myposts.next_page_number}}">Next</a>
                <a href="?page={{myposts.paginator.num_pages}}">Last</a>
                {% endif %}
            </div>
        </div>

        <div id="tab2" class="tabcontent" style="display: none;">
            <div class="row">
                {% for cp in comment_posts %}
                <div class="col-sm-6" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            {% if cp.image %}
                            <img src="{{cp.image.url}}" class="card-img" alt="사진">
                            {% else %}
                            <img src="" class="card-img" alt="사진">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                {% if cp.success %}
                                <p class="card-text word_c">공구 종료</p>
                                {% else %}
                                <p class="card-text word_o">공구 진행 중</p>
                                {% endif %}
                                <a href="{% url 'post_detail' cp.id %}" class="post_link">
                                    <h5 class="card-title">{{cp.name}} &#60;{{cp.category}}&#62;</h5>
                                    <p class="card-text">
                                        {{cp.title}}<br>
                                        {{cp.summary}}...
                                    </p>
                                </a>
                                <p class="card-text"><small class="text-muted">{{cp.date}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor%}
            </div>

            <div class="page_num">
                {% if comment_posts.has_previous %}
                <a href="?page=1">First</a>
                <a href="?page={{comment_posts.previous_page_number}}">Previous</a>
                {% endif %}

                {% if comment_posts %}
                <span>{{comment_posts.number}}</span>
                <span>/</span>
                <span>{{comment_posts.paginator.num_pages}}</span>
                {% endif %}

                {% if myposts.has_next %}
                <a href="?page={{comment_posts.next_page_number}}">Next</a>
                <a href="?page={{comment_posts.paginator.num_pages}}">Last</a>
                {% endif %}
            </div>
        </div>

        <div id="tab3" class="tabcontent" style="display: none;">
            *
        </div>

    </div>
</div>
{% endblock %}