{% extends 'base.html' %}
{% block content %}
    <h1>제목: {{post_detail.title}}</h1>
    <p>작성 날짜: {{post_detail.date}} 작성자: {{post_detail.author}}</p>

    {% if post_detail.image %}
        <img src="{{ post_detail.image.url }}" alt="사진" width="500">
    {% endif %}

    <p>카테고리: {{post_detail.category}}</p>

    {% if post_detail.success %}
        <p>공구 종료</p>
    {% else %}
        <p>공구 진행 중</p>
    {% endif %}

    <p>내용:{{post_detail.content}}</p>
    {% if post_detail.url%}
        <p>출처: <a href="{{post_detail.url}}" target="_blank">{{post_detail.url}}</a></p>
    {% endif %}

    {% comment %} <button><a href="{% url 'edit' post_detail.id %}">수정</a></button>
    <button><a href="{% url 'delete' post_detail.id %}">삭제</a></button> {% endcomment %}

    <button><a href="{% url 'group_purchase' %}">목록으로 돌아가기</a></button>

    <form action="{% url 'comment' post_detail.id %}" method="POST">
        {% csrf_token %}
        {{comment_form.as_table}}
        <input type="submit" value="Send">
    </form>

    {% for comment in post_detail.comment_set.all %}
    {% if comment.writer == user or post_detail.author == user %}
        <p>
            <strong>
                {{comment.writer}} | {{comment.date}}
                {% if user == comment.writer %}
                    <a href="{% url 'comment_delete' post_detail.id comment.id %}"><button>삭제</button></a>
                {% endif %}
            </strong>
        </p>

        <p>{{comment.content}}</p>
    {% else %}
        {% if not comment.secret %}
            <p>
            <strong>
                {{comment.writer}} | {{comment.date}}
                {% if user == comment.writer %}
                    <a href="{% url 'comment_delete' post_detail.id comment.id %}"><button>삭제</button></a>
                {% endif %}
            </strong>
        </p>

        <p>{{comment.content}}</p>
        {% endif %}
    {% endif %}
    {% endfor %}
{% endblock %}