{% extends 'base.html' %}
{% load static %}

{% block title%}
Post Detail
{% endblock %}

{% block style %}
<style>
  /*내용 전체를 감싸는 <div>*/
  .post_detail_box {
    height: 550px;
    margin-top: 15px;
    padding: 5px 30px 0px 30px;
    overflow: auto;
    background: transparent;
  }

  /*제목 밑에 밑줄*/
  .title {
    padding-bottom: 5px;
    position: relative;
  }

  /*목록으로 돌아가기, 쪽지 보내기 버튼 스타일*/
  .right {
    text-align: right;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .right>a {
    text-decoration: none;
    margin-left: 30px;
    color: #03166A;
  }

  .right>a:hover {
    color: #f27f3d;
  }

  hr {
    border-color: pink;
  }

  /*댓글 작성 폼 관련 스타일*/
  #id_content {
    width: 70%;
    /*댓글 입력창 크기*/
    height: 40px;
  }

  .comment_send_btn {
    border-radius: 4px;
    background: #212529;
    color: #fff;
    padding: 7px 10px 7px 10px;
    display: inline-block;
    border: solid 2px #212529;
    transition: all 0.5s ease-in-out 0s;
  }

  /*.comment_send_btn{
    background: transparent;
    border: none;
    outline: none;
    color: #03166A;
}*/

  /*댓글 관련 스타일*/
  .delete_btn {
    color: #d8090a;
  }

  .delete_btn:hover {
    text-decoration: none;
    color: red;
  }

  /*bootsnipp*/

  body {
    font-family: 'open sans';
    overflow-x: hidden;
  }

  img {
    max-width: 100%;
  }

  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px;
    }
  }

  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
  }

  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;
  }

  .preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
  }

  .preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
  }

  .preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
  }

  .tab-content {
    overflow: hidden;
  }

  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
  }

  .card {
    margin-top: 50px;
    background: white;
    padding: 3em;
    line-height: 1.5em;
  }

  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
  }

  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .product-title,
  .price,
  .sizes,
  .colors {
    text-transform: UPPERCASE;
    font-weight: bold;
  }

  .checked,
  .price span {
    color: #ff9f1a;
  }

  .product-title,
  .rating,
  .product-description,
  .price,
  .vote,
  .sizes {
    margin-bottom: 15px;
  }

  .product-title {
    margin-top: 0;
  }

  .size {
    margin-right: 10px;
  }

  .size:first-of-type {
    margin-left: 40px;
  }

  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
  }

  .color:first-of-type {
    margin-left: 20px;
  }

  .add-to-cart,
  .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
  }

  .add-to-cart:hover,
  .like:hover {
    background: #b36800;
    color: #fff;
  }

  .not-available {
    text-align: center;
    line-height: 2em;
  }

  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff;
  }

  .orange {
    background: #ff9f1a;
  }

  .green {
    background: #85ad00;
  }

  .blue {
    background: #0076ad;
  }

  .tooltip-inner {
    padding: 1.3em;
  }

  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
      transform: scale(3);
    }

    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
      transform: scale(3);
    }

    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
</style>
{% endblock %}

{% block content %}
<br>
<h3 class="display-5 mb-2 text-center"><i class="fas fa-smile"></i> 상세페이지</h3>
<div class="container">
  <div class="card">
    <p class="right">
      <a href="{% url 'group_purchase' %}"><i class="fas fa-arrow-left mr-2"></i>목록으로 돌아가기</a>
      {% if user.is_authenticated %}
      {% if request.user != post_detail.author and not post_detail.success %}
      <a href="{% url 'create_note' post_detail.id post_detail.author %}">쪽지 보내기</a>
      {% endif %}
      {% endif %}
    </p>
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1">
              {% if post_detail.image %}
              <img src="{{ post_detail.image.url }}" alt="사진" width="500">
              {% else %}
              <img src="{% static 'img/alert.png' %}">
              {% endif %}
            </div>
          </div>


        </div>
        <div class="details col-md-6">
          <h3 class="product-title">제목: {{post_detail.title}}</h3>
          <div class="rating">
            <span class="review-no">{{post_detail.category}} &nbsp; &#62; &nbsp; {{post_detail.name}}</span>
            <span style="float: right;">조회수: {{post_detail.count}}</span>
            <p><span class="review-no">글쓴이: {{post_detail.author}} &nbsp; | &nbsp;
                {{post_detail.date|date:"Y/m/d H:i"}}</span></p>
          </div>

          <h4 class="price">{{post_detail.content}}</h4>
          <p class="vote">
            {% if post_detail.url%}
          <p>구매 장소: <a href="{{post_detail.url}}" target="_blank">{{post_detail.url}}</a></p>
          {% endif %}</p>


          <div>
            <br>
            {% if user.is_authenticated %}
            <form action="{% url 'comment' post_detail.id %}" method="POST">
              {% csrf_token %}
              {{comment_form}}
              <input type="submit" value="등록" class="comment_send_btn">
            </form>
            {% endif %}
          </div>
          <br>

          <div>
            {% for comment in post_detail.comment_set.all %}
            <p>
              {{comment.writer}} | {{comment.date|date:"Y/m/d H:i"}}
              {% if user == comment.writer %}
              &nbsp; | &nbsp; <a href="{% url 'comment_delete' post_detail.id comment.id %}" class="delete_btn">삭제</a>
              {% endif %}
            </p>
            <p>{{comment.content}}</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}